@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

html.dark body {
  @apply bg-slate-700;
}

.hideMenuNav {
  display: none;
}

.showMenuNav {
  position: absolute;
  width: 180px;
  height: 250px;
  right: 0 ;
  top:auto;
  background: #E2E8F0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}
